## INTRODUCCION A PANDAS

In [3]:
#Create Dataframes
import pandas as pd
data = {
    "Name":["Tom","Nick","Xiomara","Astrid"],
    "Age":[22,20,19,25]
}
df = pd.DataFrame(data)
print(df)

      Name  Age
0      Tom   22
1     Nick   20
2  Xiomara   19
3   Astrid   25

In [4]:
#Seleccionamos la columnas
print(df["Age"])

0    22
1    20
2    19
3    25
Name: Age, dtype: int64

In [6]:
#Filtramos las filas
filter_colum = df[df["Age"]>19]
print(filter_colum)

     Name  Age
0     Tom   22
1    Nick   20
3  Astrid   25

In [8]:
#Agregamos una columna
df["Profesion"]=["Piscologia","Administracion","Ingenieria","Medicina"]
print(df)

      Name  Age       Profesion
0      Tom   22      Piscologia
1     Nick   20  Administracion
2  Xiomara   19      Ingenieria
3   Astrid   25        Medicina

In [9]:
#Obtener estadisticas basica
print(df.describe())

             Age
count   4.000000
mean   21.500000
std     2.645751
min    19.000000
25%    19.750000
50%    21.000000
75%    22.750000
max    25.000000

In [10]:
#Ordenar datos Ascendente
sorted_df = df.sort_values(by="Age")
print(sorted_df)

      Name  Age       Profesion
2  Xiomara   19      Ingenieria
1     Nick   20  Administracion
0      Tom   22      Piscologia
3   Astrid   25        Medicina

In [11]:
#Ordenar datos
sorted_df = df.sort_values(by="Age",ascending=False)
print(sorted_df)

      Name  Age       Profesion
3   Astrid   25        Medicina
0      Tom   22      Piscologia
1     Nick   20  Administracion
2  Xiomara   19      Ingenieria

In [12]:
#Eliminar columna
df = df.drop(columns=["Age"])
print(df)

      Name       Profesion
0      Tom      Piscologia
1     Nick  Administracion
2  Xiomara      Ingenieria
3   Astrid        Medicina